.tweetList {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  justify-items: center;
  align-items: center;
  padding: 0;
}

.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-9xl);
  background-color: var(--color-thistle);
  border-radius: 10.31px;
  box-shadow: 0 3.4369285106658936px 3.44px rgba(0, 0, 0, 0.25);
  width: 196px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 auto;
}

.loadMore {
  margin-top: 30px;
}

.filterWrapper {
  display: flex;
  padding-bottom: 30px;
  justify-content: space-between;
}

.buttonLink {
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-9xl);
  background-color: var(--color-thistle);
  border-radius: 10.31px;
  box-shadow: 0 3.4369285106658936px 3.44px rgba(0, 0, 0, 0.25);
  width: 196px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
}

.container {
  margin: 0;
  /* padding: 0; */
  padding-top: 30px;
  padding-bottom: 30px;
}
