@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  line-height: normal;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-xl: 20px;

  /* Colors */
  --landing-button-text-color: #373737;
  --color-thistle: #ebd8ff;

  /* Paddings */
  --padding-sm: 14px;
  --padding-9xl: 28px;

  /* border radiuses */
  --br-xl: 20px;
  --br-2xs-3: 10.3px;
  --br-66xl-9: 85.9px;
}
